body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd{margin:0;padding:0;border:0;}
body{background:#fff;color:#333;font:12px/1.231 微软雅黑;}
ul,ol,dl,dt,dd,input{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
a{ text-decoration:none;}
a:link{ color:#009}
a:visited { color: #800080 }
a:hover,a:active,a:focus{color:#c00; text-decoration:underline;}
a.f_orange:link { color: #b33737 }
a.f_orange:visited { color: #b33737 }
a.f_orange:hover { color: #c00 }
.clearfix{clear:both;}