@charset "utf-8";

.fadeOutUp{
	-webkit-animation:fadeOutUp 1s .2s ease both;
	-moz-animation:fadeOutUp 1s .2s ease both;
}
@-webkit-keyframes fadeOutUp{
0%{
	opacity:0;
	-webkit-transform:translateY(0);
}
20%{
	opacity:1;
	-webkit-transform:translateY(-26px);
}
25%{
	opacity:0;
	-webkit-transform:translateY(-26px);
}
30%{
	opacity:0;
	-webkit-transform:translateY(26px);
}
80%{
	opacity:1;
	-webkit-transform:translateY(0);
}
}
@-moz-keyframes fadeOutUp{
0%{
	opacity:0;
	-webkit-transform:translateY(0);
}
20%{
	opacity:1;
	-webkit-transform:translateY(-26px);
}
25%{
	opacity:0;
	-webkit-transform:translateY(-26px);
}
30%{
	opacity:0;
	-webkit-transform:translateY(26px);
}
80%{
	opacity:1;
	-webkit-transform:translateY(0);
}
}

.fadeInUp{
	-webkit-animation:fadeInUp 1s .2s ease both;
	-moz-animation:fadeInUp 1s .2s ease both;
}
@-webkit-keyframes fadeInUp{
0%{
	opacity:0;
	-webkit-transform:translateY(0);
}
20%{
	opacity:1;
	-webkit-transform:translateY(-26px);
}
25%{
	opacity:0;
	-webkit-transform:translateY(-26px);
}
30%{
	opacity:0;
	-webkit-transform:translateY(26px);
}
80%{
	opacity:1;
	-webkit-transform:translateY(0);
}
}
@-moz-keyframes fadeInUp{
0%{
	opacity:0;
	-webkit-transform:translateY(0);
}
20%{
	opacity:1;
	-webkit-transform:translateY(-26px);
}
25%{
	opacity:0;
	-webkit-transform:translateY(-26px);
}
30%{
	opacity:0;
	-webkit-transform:translateY(26px);
}
80%{
	opacity:1;
	-webkit-transform:translateY(0);
}
}