@charset "utf-8";
/* CSS Document */

/* 分页 */
.pagination ul{ width:650px;}
.pagination ul li { float: left; }
.pagination ul li a { display: inline-block; }
.pagination ul li span { width: 30px; text-align: center; }


.table .table-tr .th3 .pricing{ padding:1px !important; _padding:1px;}
.table .table-tr .th3 .pricing strong{top:1px !important; right:1px !important; _top:1px; _right:1px;}