@charset "utf-8";
/* CSS Document */

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,input,dl,dt,dd,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{background:#fff;color:#333;font-size:12px;font-family:"宋体";}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
a{ text-decoration:none;}
a:link{color:#009;}
a:hover,a:active,a:focus{color:#c00; text-decoration:none;}
.clear{clear:both;}

/**
 *  项目上线之后可以删除
 */
h3.tips{ text-align:center; padding:10px 0; background:#D6D6D6;}
h3.tips a{ display:inline-block; height:20px; line-height:20px; border:1px solid #C0C0C0; color:#000000; padding:0 5px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);}
h3.tips a:hover{ background:#FFFFFF; color:#000000; text-decoration:none;}

.top{ height:90px; background:#ffffff; border-bottom:1px solid #a8a8a8;}
.heard{ width:1040px; height:90px; margin:0 auto;}
.logo{ float:left; padding-top:12px; width:305px; display:inline;}
.logo img{ width:144px; height:64px; float:left;}
.logo h1{ font-size:20px; font-family:"微软雅黑"; font-weight:bold; color:#0080ff; text-align:center; height:36px; line-height:45px;width: 160px;float: right;}
.logo h1 a{ color:#ff0000;}
.logo h1 a:hover{ color:#F00;}
.logo p{ font-size:12px; font-family:"微软雅黑"; font-weight:bold; color:#0080ff; text-align:center; height:25px; line-height:28px; width:160px; float:right;}
.logo p a{ color:#7f7f7f;}
.logo p a:hover{ color:#F00;}

.soso{ float:left; margin-left:50px; display:inline; width:400px;}
.ss{ background:url(sousou_bg.gif) no-repeat; width:400px; height:29px; margin-top:25px;}
.soso_text{ height:24px; line-height:24px;}
.soso_text span{ display:block; float:left; color:#F00; font-weight:bold;}
.soso_text h2{ font-size:12px; font-weight:100; float:left; color:#333;}
.soso_text h2 a{ color:#333; padding:0 3px;}
.soso_text h2 a:hover{ color:#F00;}
input.ss_text{ color:#999999; float:left; height:26px; line-height:26px; padding-left:5px; width:315px; border:none; background:none;}
input.ss_but{ cursor:pointer; float:left; width:80px; height:29px; background:none;}

.hd_poster{ width:240px; float:left; margin-left:45px; display:inline; margin-top:20px; background:#e02512;}
.hd_poster h2{ font-size:25px; font-family:"微软雅黑"; font-weight:bold; color:#ffffff; text-align:center; height:36px; line-height:45px;}
.hd_poster p{ font-size:12px; font-family:"微软雅黑"; font-weight:bold; color:#ffff00; text-align:center; height:25px; line-height:28px;}



.nav{ height:36px; background:url(nav_bg.gif) repeat-x;}
.nav_nr{ height:36px; width:1040px; margin:0 auto;}
.nav_left{ float:left; width:720px;}
.nav_left ul{}
.nav_left ul li{ width:80px; height:36px; line-height:36px; text-align:center; float:left; background:url(nav_li.gif) no-repeat 78px 0; display:block;}
.nav_left ul li a{ width:78px; height:36px; display:block; font-size:14px; font-weight:bold; color:#FFF; font-weight:100; float:left;}
.nav_left ul li a:hover{ width:78px; height:36px; display:block; background:url(nav_hover.gif) repeat-x; color:#FFF; float:left;}
.nav_left ul li.ative a{ width:78px; height:36px; display:block; background:url(nav_a.gif) repeat-x; color:#ffffff; font-weight:bold;}
.nav_left ul li.ative a:hover{ width:78px; height:36px; display:block; background:url(nav_a.gif) repeat-x; color:#ffffff;}
.nav_right{ float:right; width:320px; height:36px; background: url(nav_right_bg.gif) repeat-x 0 0; line-height:36px;}
.nav_right ul{ width:280px; float:right}
.nav_right ul li{ width:70px; text-align:center; float:left; height:36px; background:url(nav_right_li.gif) no-repeat top right;}
.nav_right ul li.one{ background:none;}
.nav_right ul li a{ color:#FFF;}
.nav_right ul li a:hover{ color:#FFF; text-decoration:underline;}

.tuijian{ height:34px; line-height:34px; margin:0 auto; background:#e1e1e1; border-top:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf;}
.tj_nr{ width:1040px; margin:0 auto;}
.tj_left{ width:520px; height:34px; float:left; overflow:hidden;}
.tj_left strong{ color:#ff0000; display:block; float:left;}
.tj_left h2{ font-size:12px; font-weight:100;}
.tj_left h2 a{ color:#000; padding:0 2px;}
.tj_left h2 a:hover{ color:#F00;}
.tj_right{ width:520px; height:34px; float:left; overflow:hidden;}
.tj_right strong{ display:block; float:left; color:#ff0000; margin-right:10px;}
.rmjm{ width:430px; float:left; overflow:hidden;}
.rmjm ul{ width:430px;}
.rmjm ul li{ width:430px; float:left; display:inline;}
.rmjm ul li a{ width:200px; height:34px; line-height:34px; display:block; overflow:hidden; float:left; margin-right:15px; display:inline; color:#0000cc; text-decoration:underline; text-align:center;}
.rmjm ul li a:hover{ color:#F00;}

.pic{ width:1040px; margin:0 auto; margin-top:8px;}
.pic img{ width:1040px; height:80px;}
.pic img.mb{ margin-bottom:8px;}
.pic img.mr{ margin-right:2px;}
.pic img.mr8{ margin-right:8px;}
.pic .sub_pic{ width:516px; height:60px;}
.pic .sub_pic img{ width:516px; height:60px;}
.pic .small_pic img{ width:254px; height:57px;}

.xxk{ width:1038px; margin:0 auto; margin-top:8px; height:130px; border:1px solid #d3d3d3;}
.xxk_bt{ width:1038px; height:32px; background:url(xxk_bt.gif) repeat-x; overflow:hidden;}
.xxkbt_left{ width:550px; float:left; height:32px; line-height:32px;}
.xxkbt_left a{ width:90px; height:32px; display:block; float:left; text-align:center; border-right:1px solid #d3d3d3; color:#000; display:inline;}
.xxkbt_left a.zw{ background:url(xxk_hover.gif) repeat-x; border-right:1px solid #d3d3d3;}
.xxkbt_left a.last{ background:none;}
.xxkbt_left a:hover{ color:#F00;}
.xxkbt_right{ float:right; text-align:right; padding-right:50px; height:32px; line-height:32px;}
.xxkbt_right a{ color:#333;}
.xxkbt_right a:hover{ color:#F00;}
.erdao{ height:98px; width:1038px; overflow:hidden; font-size:12px; font-weight:100; line-height:32px;}
.erdao h2{ font-size:12px; font-weight:100;}
.erdao h2 a{ color:#333; width:115px; height:32px; display:inline-block; white-space:nowrap; text-align:center;}
.erdao h2 a:hover{color:#F00;}


.war{ width:1040px; height:auto; margin:0 auto; margin-top:8px;}
.war_left{ width:260px; height:654px; float:left; background:#999 url(war_left_bb.gif) repeat-y 0 0;}
.war_left .aside_ss{ width:260px; height:160px; float:left; background:url(war_left_tb.gif) no-repeat 0 0;}
.war_left .aside_ss h3{ width:200px; height:35px; background:url(aside_ss_h3.gif) no-repeat 10px 0; margin-top:15px; padding:10px 0px 0px 60px; color:#FFF}
.war_left .aside_ss .aside_ss_bd{ background:url(aside_ss_bg.gif) no-repeat 30px 0; width:100%; height:26px; margin-top:8px;}
.war_left .aside_ss .aside_ss_bd input.text{color:#999999; float:left; height:26px; line-height:26px; padding-left: 25px; padding-right: 8px; width:100px; margin-left: 103px; border:none; background:none;}
.war_left .aside_ss .aside_ss_bd input.btn{ cursor:pointer; float:left; width:126px; height:35px; color:#FFF; font-weight:bold; font-size:14px; background:url(aside_ss_btn.gif) no-repeat 0 0; margin:15px 15px 0px 30px;}
.war_left .aside_ss .aside_ss_bd a{ float:left; display:block; margin-top: 25px; color:#CCC;}
.war_left .aside_ss .aside_ss_bd a:hover{ color:#999;}
.war_left .aside_bd{ width:260px; height:auto; float:left;background:url(war_left_fb.gif) no-repeat left bottom;}
.war_left .aside_bd .xmdh_tt{ display:block; width:200px; height:24px; background:url(aside_bd_xmdh.gif) no-repeat 12px 0; padding:10px 0px 0px 60px; color:#660; font-weight:bold; font-size:14px;}
.war_left .aside_bd .xmdh_tt2{ float:left; display:block; width:200px; height:24px; background:url(aside_bd_ss_bg.gif) no-repeat 12px 0; padding:10px 0px 0px 60px; color:#660; font-weight:bold; font-size:14px;}
.war_left .aside_bd h3{ padding-left:20px; padding-top:10px;}
.war_left .aside_bd .aside_words{ width:220px; height:260px; padding:10px 20px 10px 20px; display:block; float:left;overflow:hidden;}
.war_left .aside_bd .aside_words a{ float:left; _float:none; width:auto; height:24px; margin:0 2px 0 3px; line-height:24px; color:#666666; text-decoration:underline;}
.war_left .aside_bd .aside_words a.hot{ color:#F00;}
.war_left .aside_bd .aside_words a:hover{ cursor:pointer; color:#FF0000; text-decoration:none;}

.war_mid{ width:525px; margin-left:8px; display:inline; float:left;}
.war_mid .hd{ width:525px; height:170px;}

.war_mid .war_list{ width:525px; height:465px; background:url(war_list_bg.gif) no-repeat; margin-top:8px; padding-top:10px; overflow:hidden;}
.war_mid .war_list h3{ color:#F00; padding-left:30px;}
.war_mid .warlist_nr{ width:490px; margin:0 auto; border-bottom:1px dashed #cdcdcd; padding-bottom:8px;}
.war_mid .warlist_nr dl{ width:230px; float:left; padding-left:15px; margin-top:12px; overflow:hidden;}
.war_mid .warlist_nr dl dt{ font-size:14px; font-weight:bold; color:#cc0000;}
.war_mid .warlist_nr dl dt a{ color:#cc0000; line-height:24px; height:24px;}
.war_mid .warlist_nr dl dt a:hover{ color:#cc0000; text-decoration:underline;}
.war_mid .warlist_nr dl dd{ font-size:12px; color:#333; margin-top:10px;}
.war_mid .warlist_nr dl dd a{ color:#333;}
.war_mid .warlist_nr dl dd a:hover{ color:#F00;}
.war_mid .warlist_new{width: 430px;margin: 0 auto;padding-bottom: 10px; padding-top:10px;}
.war_mid .warlist_new li{ list-style:square;}
.war_mid .warlist_new li a{ color:#333; line-height:24px; height:24px;}
.war_mid .warlist_new li a:hover{color:#cc0000;}

.war_right{ width:239px; float:left; margin-left:8px; display:inline;}
.war_right .pic_add a img{ margin-bottom:5px;}
.war_right .tored{ width:239px; height:129px; float:right; display:inline; margin-bottom:8px; position:relative; overflow:hidden;  background:url(tored.jpg) no-repeat;}
.war_right #tored{  background:url(tored.jpg) no-repeat;}
.war_right .tored ul{ position:absolute; left:0px; top:0px;}
.war_right .tored ul li{ width:223px; height:129px; overflow:hidden; font-size:12px;}
.war_right .tored ul li span{ color:#FFF; line-height:23px; margin-left:10px; margin-top:5px; display:block;}
.war_right .tored ul li span em{ color:#FF0; font-style:normal; font-weight:bold; font-size:14px; margin-left:3px; margin-right:3px;}
/*

------------------------------------------------------------------------------------*/
.section1{ width:1040px; height:auto; margin:0 auto; margin-top:8px;}
.section1 .aside{ margin-top:8px; width:260px; float:left; height:600px; overflow:hidden;}
.section1 .aside .s_new{ border:1px solid #cdcdcd; height:365px;}
.section1 .aside .s_new h3{ width:258px; height:34px; background:#f7f7f7; border-bottom:1px solid #cdcdcd; line-height:34px;}
.section1 .aside .s_new h3 .icon-jt{ color:#d21f1f; line-height:34px; background:url(jiantou.gif) no-repeat 0 0; padding-left:13px;margin:0px 10px 0px 10px;}
.section1 .aside .s_new ul.s_context{}
.section1 .aside .s_new ul.s_context li{ color:#808080; border-bottom: 1px dashed #cdcdcd;line-height: 22px;padding: 10px; font-size:12px;}
.section1 .aside .s_new ul.s_context li a{ color:#ed8336;}
.section1 .aside .s_new ul.s_context li a.context{ color:#1f3a87;}
.section1 .aside .aside_adv{ margin-top:8px;}
.section1 .aside .aside_adv img{ margin-bottom:8px; width:260px; height:70px;}
.section1 .aside .aside_adv img.nm{ margin:0px;}

.section1 .article{ margin-top:8px; width:770px; float:left; margin-left:8px; display:inline; border:1px solid #cdcdcd;}
.section1 .article .bt{ background:url(article_bt_bg.gif) repeat-x 0 0; height:37px; width:770px; float:left;}
.section1 .article .bt .fl{ float:left;}
.section1 .article .bt .fl h3{ color:#bf0707; font-size:14px; padding-left:20px; line-height:37px;}
.section1 .article .bt .fr{ float:right;}
.section1 .article .bt .fr a{ color:#333; font-size:12px; line-height:37px; margin:0 10px 0 10px;}
.section1 .article .bt .fr a:hover{ color:#FF0000; text-decoration:underline; }
.section1 .article .content{ width:770px; float:left;}
.section1 .article .content ul.c_item{}
.section1 .article .content ul.c_item li{ width:114px; height:118px; float:left; background:url(content_li_bg.gif) no-repeat 0 0;margin: 7px; _margin: 5px;}
.section1 .article .content ul.c_item li .c_pic{ width:100px; height:75px; margin:8px;}
.section1 .article .content ul.c_item li .c_pic a img{ border:none; width:100px; height:75px;}
.section1 .article .content ul.c_item li .c_pic a:hover img{ border:1px solid #333; width:98px; height:73px;}
.section1 .article .content ul.c_item li .c_txt{margin: auto;width: 100px;height: 18px;line-height: 12px;display: block;}
.section1 .article .content ul.c_item li .c_txt a{  color: #333;height: 12px;width: 100px;overflow: hidden;display: block; text-align: center;}
.section1 .article .content ul.c_item li .c_txt a:hover{ color:#ff0000; text-decoration:underline;}
.section1 .article .content .top_list{ width:770px; height:auto; float:left;}
.section1 .article .content .top_list dl{ float:left; width:125px; height:auto; padding:0px 14px 0px 14px;}
.section1 .article .content .top_list dt{ float:left; width:125px; height:24px; line-height:24px; font-size:14px; font-weight:bold; color:#1e4674;}
.section1 .article .content .top_list dd{ float:left; width:125px; height:24px; line-height:24px; font-size:12px; color:#1e4674; border-bottom:1px solid #e9e9e9;}
.section1 .article .content .top_list dd a{ color:#1e4674;}
.section1 .article .content .top_list dd a:hover{ color:#FF0000; text-decoration:underline;}
.section1 .article .content .top_list .icon-1,
.section1 .article .content .top_list .icon-2,
.section1 .article .content .top_list .icon-3,
.section1 .article .content .top_list .icon-4,
.section1 .article .content .top_list .icon-5{ background:url(top-icon.gif) no-repeat; width:23px; height:12px; margin:6px 3px 0px 0px; line-height:24px; display:block; float:left;}
.section1 .article .content .top_list .icon-1{ background-position:0 0;}
.section1 .article .content .top_list .icon-2{ background-position:0 -12px;}
.section1 .article .content .top_list .icon-3{ background-position:0 -24px;}
.section1 .article .content .top_list .icon-4{ background-position:0 -36px;}
.section1 .article .content .top_list .icon-5{ background-position:0 -48px;}

/*

------------------------------------------------------------------------------------*/
.section2{ width:1040px; height:auto; margin:0 auto; margin-top:8px;}
.section2 .aside{ margin-top:8px; width:260px; float:left; height:600px; overflow:hidden;}
.section2 .aside .s_new{ border:1px solid #cdcdcd; height:365px;}
.section2 .aside .s_new h3{ width:258px; height:34px; background:#f7f7f7; border-bottom:1px solid #cdcdcd; line-height:34px;}
.section2 .aside .s_new h3 .icon-jt{ color:#d21f1f; line-height:34px; background:url(jiantou.gif) no-repeat 0 0; padding-left:13px;margin:0px 10px 0px 10px;}
.section2 .aside .s_new ul.s_context{}
.section2 .aside .s_new ul.s_context li{ color:#808080; border-bottom: 1px dashed #cdcdcd;line-height: 22px;padding: 10px; font-size:12px;}
.section2 .aside .s_new ul.s_context li a{ color:#ed8336;}
.section2 .aside .s_new ul.s_context li a.context{ color:#1f3a87;}
.section2 .aside .aside_adv{ margin-top:8px;}
.section2 .aside .aside_adv img{ margin-bottom:8px; width:260px; height:70px;}
.section2 .aside .aside_adv img.nm{ margin:0px;}

.section2 .article{ margin-top:8px; width:770px; float:left; margin-left:8px; display:inline; border:1px solid #cdcdcd;}
.section2 .article .bt{ background:url(article_bt_bg.gif) repeat-x 0 0; height:37px; width:770px; float:left;}
.section2 .article .bt .fl{ float:left;}
.section2 .article .bt .fl h3{ color:#bf0707; font-size:14px; padding-left:20px; line-height:37px;}
.section2 .article .bt .fr{ float:right;}
.section2 .article .bt .fr a{ color:#333; font-size:12px; line-height:37px; margin:0 10px 0 10px;}
.section2 .article .bt .fr a:hover{ color:#FF0000; text-decoration:underline; }
.section2 .article .content{ width:770px; float:left;}
.section2 .article .content ul.c_item{}
.section2 .article .content ul.c_item li{ width:114px; height:118px; float:left; background:url(content_li_bg.gif) no-repeat 0 0;margin: 7px; _margin: 5px;}
.section2 .article .content ul.c_item li .c_pic{ width:100px; height:75px; margin:8px;}
.section2 .article .content ul.c_item li .c_pic a img{ border:none; width:100px; height:75px;}
.section2 .article .content ul.c_item li .c_pic a:hover img{ border:1px solid #333; width:98px; height:73px;}
.section2 .article .content ul.c_item li .c_txt{margin: auto;width: 100px;height: 18px;line-height: 12px;display: block;}
.section2 .article .content ul.c_item li .c_txt a{  color: #333;height: 12px;width: 100px;overflow: hidden;display: block; text-align: center;}
.section2 .article .content ul.c_item li .c_txt a:hover{ color:#ff0000; text-decoration:underline;}
.section2 .article .content .top_list{ width:770px; height:auto; float:left;}
.section2 .article .content .top_list dl{ float:left; width:125px; height:auto; padding:0px 14px 0px 14px;}
.section2 .article .content .top_list dt{ float:left; width:125px; height:24px; line-height:24px; font-size:14px; font-weight:bold; color:#1e4674;}
.section2 .article .content .top_list dd{ float:left; width:125px; height:24px; line-height:24px; font-size:12px; color:#1e4674; border-bottom:1px solid #e9e9e9;}
.section2 .article .content .top_list dd a{ color:#1e4674;}
.section2 .article .content .top_list dd a:hover{ color:#FF0000; text-decoration:underline;}
.section2 .article .content .top_list .icon-1, 
.section2 .article .content .top_list .icon-2,
.section2 .article .content .top_list .icon-3,
.section2 .article .content .top_list .icon-4,
.section2 .article .content .top_list .icon-5{ background:url(top-icon.gif) no-repeat; width:23px; height:12px; margin:6px 3px 0px 0px; line-height:24px; display:block; float:left;}
.section2 .article .content .top_list .icon-1{ background-position:0 0;}
.section2 .article .content .top_list .icon-2{ background-position:0 -12px;}
.section2 .article .content .top_list .icon-3{ background-position:0 -24px;}
.section2 .article .content .top_list .icon-4{ background-position:0 -36px;}
.section2 .article .content .top_list .icon-5{ background-position:0 -48px;}

/*

------------------------------------------------------------------------------------*/
.section3{ width:1040px; height:auto; margin:0 auto; margin-top:8px;}
.section3 .aside{ margin-top:8px; width:260px; float:left; height:600px; overflow:hidden;}
.section3 .aside .s_new{ border:1px solid #cdcdcd; height:365px;}
.section3 .aside .s_new h3{ width:258px; height:34px; background:#f7f7f7; border-bottom:1px solid #cdcdcd; line-height:34px;}
.section3 .aside .s_new h3 .icon-jt{ color:#d21f1f; line-height:34px; background:url(jiantou.gif) no-repeat 0 0; padding-left:13px;margin:0px 10px 0px 10px;}
.section3 .aside .s_new ul.s_context{}
.section3 .aside .s_new ul.s_context li{ color:#808080; border-bottom: 1px dashed #cdcdcd;line-height: 22px;padding: 10px; font-size:12px;}
.section3 .aside .s_new ul.s_context li a{ color:#ed8336;}
.section3 .aside .s_new ul.s_context li a.context{ color:#1f3a87;}
.section3 .aside .aside_adv{ margin-top:8px;}
.section3 .aside .aside_adv img{ margin-bottom:8px; width:260px; height:70px;}
.section3 .aside .aside_adv img.nm{ margin:0px;}

.section3 .article{ margin-top:8px; width:770px; float:left; margin-left:8px; display:inline; border:1px solid #cdcdcd;}
.section3 .article .bt{ background:url(article_bt_bg.gif) repeat-x 0 0; height:37px; width:770px; float:left;}
.section3 .article .bt .fl{ float:left;}
.section3 .article .bt .fl h3{ color:#bf0707; font-size:14px; padding-left:20px; line-height:37px;}
.section3 .article .bt .fr{ float:right;}
.section3 .article .bt .fr a{ color:#333; font-size:12px; line-height:37px; margin:0 10px 0 10px;}
.section3 .article .bt .fr a:hover{ color:#FF0000; text-decoration:underline; }
.section3 .article .content{ width:770px; float:left;}
.section3 .article .content ul.c_item{}
.section3 .article .content ul.c_item li{ width:114px; height:118px; float:left; background:url(content_li_bg.gif) no-repeat 0 0;margin: 7px; _margin: 5px;}
.section3 .article .content ul.c_item li .c_pic{ width:100px; height:75px; margin:8px;}
.section3 .article .content ul.c_item li .c_pic a img{ border:none; width:100px; height:75px;}
.section3 .article .content ul.c_item li .c_pic a:hover img{ border:1px solid #333; width:98px; height:73px;}
.section3 .article .content ul.c_item li .c_txt{margin: auto;width: 100px;height: 18px;line-height: 12px;display: block;}
.section3 .article .content ul.c_item li .c_txt a{  color: #333;height: 12px;width: 100px;overflow: hidden;display: block; text-align: center;}
.section3 .article .content ul.c_item li .c_txt a:hover{ color:#ff0000; text-decoration:underline;}
.section3 .article .content .top_list{ width:770px; height:auto; float:left;}
.section3 .article .content .top_list dl{ float:left; width:125px; height:auto; padding:0px 14px 0px 14px;}
.section3 .article .content .top_list dt{ float:left; width:125px; height:24px; line-height:24px; font-size:14px; font-weight:bold; color:#1e4674;}
.section3 .article .content .top_list dd{ float:left; width:125px; height:24px; line-height:24px; font-size:12px; color:#1e4674; border-bottom:1px solid #e9e9e9;}
.section3 .article .content .top_list dd a{ color:#1e4674;}
.section3 .article .content .top_list dd a:hover{ color:#FF0000; text-decoration:underline;}
.section3 .article .content .top_list .icon-1,
.section3 .article .content .top_list .icon-2,
.section3 .article .content .top_list .icon-3,
.section3 .article .content .top_list .icon-4,
.section3 .article .content .top_list .icon-5{ background:url(top-icon.gif) no-repeat; width:23px; height:12px; margin:6px 3px 0px 0px; line-height:24px; display:block; float:left;}
.section3 .article .content .top_list .icon-1{ background-position:0 0;}
.section3 .article .content .top_list .icon-2{ background-position:0 -12px;}
.section3 .article .content .top_list .icon-3{ background-position:0 -24px;}
.section3 .article .content .top_list .icon-4{ background-position:0 -36px;}
.section3 .article .content .top_list .icon-5{ background-position:0 -48px;}

/*

------------------------------------------------------------------------------------*/
.section3_1{ width:1040px; height:auto; margin:0 auto; margin-top:8px;}
.section3_1 .aside{ margin-top:8px; width:260px; float:left; height:600px; overflow:hidden;}
.section3_1 .aside .s_new{ border:1px solid #cdcdcd; height:365px;}
.section3_1 .aside .s_new h3{ width:258px; height:34px; background:#f7f7f7; border-bottom:1px solid #cdcdcd; line-height:34px;}
.section3_1 .aside .s_new h3 .icon-jt{ color:#d21f1f; line-height:34px; background:url(jiantou.gif) no-repeat 0 0; padding-left:13px;margin:0px 10px 0px 10px;}
.section3_1 .aside .s_new ul.s_context{}
.section3_1 .aside .s_new ul.s_context li{ color:#808080; border-bottom: 1px dashed #cdcdcd;line-height: 22px;padding: 10px; font-size:12px;}
.section3_1 .aside .s_new ul.s_context li a{ color:#ed8336;}
.section3_1 .aside .s_new ul.s_context li a.context{ color:#1f3a87;}
.section3_1 .aside .aside_adv{ margin-top:8px;}
.section3_1 .aside .aside_adv img{ margin-bottom:8px; width:260px; height:70px;}
.section3_1 .aside .aside_adv img.nm{ margin:0px;}

.section3_1 .article{ margin-top:8px; width:770px; float:left; margin-left:8px; display:inline; border:1px solid #cdcdcd;}
.section3_1 .article .bt{ background:url(article_bt_bg.gif) repeat-x 0 0; height:37px; width:770px; float:left;}
.section3_1 .article .bt .fl{ float:left;}
.section3_1 .article .bt .fl h3{ color:#bf0707; font-size:14px; padding-left:20px; line-height:37px;}
.section3_1 .article .bt .fr{ float:right;}
.section3_1 .article .bt .fr a{ color:#333; font-size:12px; line-height:37px; margin:0 10px 0 10px;}
.section3_1 .article .bt .fr a:hover{ color:#FF0000; text-decoration:underline; }
.section3_1 .article .content{ width:770px; float:left;}
.section3_1 .article .content ul.c_item{}
.section3_1 .article .content ul.c_item li{ width:114px; height:118px; float:left; background:url(content_li_bg.gif) no-repeat 0 0;margin: 7px; _margin: 5px;}
.section3_1 .article .content ul.c_item li .c_pic{ width:100px; height:75px; margin:8px;}
.section3_1 .article .content ul.c_item li .c_pic a img{ border:none; width:100px; height:75px;}
.section3_1 .article .content ul.c_item li .c_pic a:hover img{ border:1px solid #333; width:98px; height:73px;}
.section3_1 .article .content ul.c_item li .c_txt{margin: auto;width: 100px;height: 18px;line-height: 12px;display: block;}
.section3_1 .article .content ul.c_item li .c_txt a{  color: #333;height: 12px;width: 100px;overflow: hidden;display: block; text-align: center;}
.section3_1 .article .content ul.c_item li .c_txt a:hover{ color:#ff0000; text-decoration:underline;}
.section3_1 .article .content .top_list{ width:770px; height:auto; float:left;}
.section3_1 .article .content .top_list dl{ float:left; width:125px; height:auto; padding:0px 14px 0px 14px;}
.section3_1 .article .content .top_list dt{ float:left; width:125px; height:24px; line-height:24px; font-size:14px; font-weight:bold; color:#1e4674;}
.section3_1 .article .content .top_list dd{ float:left; width:125px; height:24px; line-height:24px; font-size:12px; color:#1e4674; border-bottom:1px solid #e9e9e9;}
.section3_1 .article .content .top_list dd a{ color:#1e4674;}
.section3_1 .article .content .top_list dd a:hover{ color:#FF0000; text-decoration:underline;}
.section3_1 .article .content .top_list .icon-1,
.section3_1 .article .content .top_list .icon-2,
.section3_1 .article .content .top_list .icon-3,
.section3_1 .article .content .top_list .icon-4,
.section3_1 .article .content .top_list .icon-5{ background:url(top-icon.gif) no-repeat; width:23px; height:12px; margin:6px 3px 0px 0px; line-height:24px; display:block; float:left;}
.section3_1 .article .content .top_list .icon-1{ background-position:0 0;}
.section3_1 .article .content .top_list .icon-2{ background-position:0 -12px;}
.section3_1 .article .content .top_list .icon-3{ background-position:0 -24px;}
.section3_1 .article .content .top_list .icon-4{ background-position:0 -36px;}
.section3_1 .article .content .top_list .icon-5{ background-position:0 -48px;}



/*

---------------------------------------------------------------------------------------------------*/

.section4{ width:1040px; height:590px; margin:8px auto 0 auto;}
.section4 .s4_aside{ width:260px; height:590px; float:left;}
.section4 .s4_aside img{ width:260px; height:290px;}
.section4 .s4_aside img.mb{ margin-bottom:8px;}

.section4 .s4_article{ width:490px; height:100px; float:left; margin-left:8px;}
.section4 .s4_article .s4_tt{ background:url(s4_article_h3_bg.gif) no-repeat 0 0; width:447px; height:32px; line-height:36px; padding-left: 43px; float:left;}
.section4 .s4_article .s4_tt .fl{ float:left; font-size:14px; font-weight:bold; color:#cc0000;}
.section4 .s4_article .s4_tt .fr{ float:right; padding-right:10px;}
.section4 .s4_article .bian1{ width:488px; height:258px; border:1px solid #dddddf;border-top:none; margin-bottom:8px; float:left;}
.zc_text1{ width:470px; margin:0 auto;}
.zc_text1 li{ border-bottom:1px dashed #bababa; width:470px; float:left; height:27px; line-height:27px; overflow:hidden;}
.zc_text1 li.block_li{ height:110px;}
.zc_text1 li p{}
.zc_text1 li p.on{ display:none;}
.zc_text1 li p strong{ width:15px; height:15px; background:url(strong_bg.gif) no-repeat; display:block; float:left; text-align:center; line-height:15px; margin-top:7px; font-weight:100; color:#FFF;}
.zc_text1 li p em{ font-style:normal; color:#333; width:370px; overflow:hidden; margin-left:3px; display:inline; display:block; float:left;}
.zc_text1 li p span{ height:30px; display:block; float:right; background:url(jt.png) no-repeat 0 11px; padding-left:12px;}
.zc_text1 li div{ height:100px; margin:10px 0; display:block;}
.zc_text1 li div h3{ width:117px; height:91px; font-size:12px; font-weight:100; float:left;}
.zc_text1 li div h3 img{ width:111px; height:85px; padding:3px; float:left;}
.zc_text1 li div dl{ float:left; width:342px; line-height:normal; margin-left:7px; display:block; padding-top:3px;}
.zc_text1 li div dl dt{ font-size:14px; font-weight:bold;}
.zc_text1 li div dl dt a{}
.zc_text1 li div dl dt a:hover{text-decoration:underline;}
.zc_text1 li div dl dd{ margin-top:8px;}
.zc_text1 li div dl dd span{ display:block; margin-top:4px;}
.zc_text1 li div dl a.more{ width:66px; height:20px; display:block; color:#ff0000; text-align:center; line-height:20px; margin-top:8px;float: right;}
.zc_text1 li div dl a.more:hover{ color:#F00;}

.section4 .s4_raside{ width:274px; height:100px; float:left; margin-left:8px;}
.section4 .s4_raside .s4_pic{ width:274px; height:auto; float:left;}
.section4 .s4_raside .s4_pic img{ margin-bottom:10px; width:274px; height:90px;}
.section4 .s4_raside .s4_pic img.nm{ margin:none;}

/*
	
-----------------------------------------------------------------------------------------------------------*/

.section5,
.section6{ width:1038px; height:105px; margin:8px auto 0 auto; border:1px solid #CCCCCC;}
.section5 .s_tt,
.section6 .s_tt{ width:1038px; height:30px; background:url(s5_tt_bg.gif) repeat-x 0 0; border-bottom:1px solid #CCCCCC;}
.section5 .s_tt .fl,
.section6 .s_tt .fl{ float:left;}
.section6 .s_tt .fl{ background:#FFF; height:30px; padding-right:10px;}
.section5 .s_tt .fr,
.section6 .s_tt .fr{ float:right; line-height:30px; padding-right:10px;}
.section5 .s_tt .fr a,
.section6 .s_tt .fr a{ color:#333;}
.section5 .s_tt .fr a:hover,
.section6 .s_tt .fr a:hover{ color:#F00; text-decoration:underline;}

.section5 .s_tt .fl .icon_xiangmu,
.section6 .s_tt .fl .icon_links{ background:url(icon-ft.gif) no-repeat; height:14px; width:19px; margin:7px 7px 10px 7px; float:left;}
.section5 .s_tt .fl .icon_xiangmu{ background-position:0 0;}
.section6 .s_tt .fl .icon_links{ background-position:0 -14px}

.section5 .s_tt .fl h3{ height:31px; line-height:31px;float: left; color:#F00;}
.section6 .s_tt .fl .link{ height:31px; line-height:31px;float: left; color:#000; font-weight:bold;}
.section5 .s_article,
.section6 .s_article{ width:1038px; height:auto; float:left;}
.section5 .s_article a,
.section6 .s_article a{ color:#333333; line-height:24px; margin: 0px 10px; display:block; float:left;}
.section5 .s_article a:hover,
.section6 .s_article a:hover{ color:#F00; text-decoration:underline;}

/*

 ---------------------------------------------------------------*/
 
 
 /*
 	所有项目
 */
 .weizhi{ width:1030px; height:30px; line-height:30px; margin:0 auto; border:1px solid #d7d7d7; margin-top:10px; padding-left:8px;}
.weizhi strong{}
.weizhi a{ margin:0 5px; color:#000;}
.weizhi a:hover{ color:#F00;}

.chaxun{ width:1038px; margin:0 auto; border:1px solid #dddddd; margin-top:10px;}
.chaxun_bt{ height:28px; background:url(chaxun_bt.gif) repeat-x;}
.chaxun_bt strong{ background:#FFF; display:block; padding:0 10px; line-height:28px; height:28px; border:1px solid #dddddd; float:left; border-top:none; border-bottom:none; margin-left:10px; display:inline;}
.chaxun_nr{ padding-bottom:10px;}
.cxnr_h{ margin-top:10px; margin-left:10px; line-height:21px; overflow:hidden;}
.cxnr_h strong{ display:block; float:left; height:19px; line-height:19px; padding:0 8px; border:1px solid #cccccc; border-right:none; background:#f8f8f8; position:relative; color:#404040; font-weight:100;}
.cxnr_h strong em{ display:block; width:5px; height:21px; background:url(xiaojiao.gif) no-repeat; position:absolute; top:-1px; right:-5px;}
#Tab2{ float:left; margin-left:10px; display:inline;}
.Menubox2{}
.Menubox2 ul{}
.Menubox2 ul li{ float:left; cursor:pointer; display:block; height:21px; line-height:21px; padding:0 5px; margin-left:5px;}
.Menubox2 ul li.hover{ background:#c50a0a; color:#FFF;}
.Contentbox2{}
.xl_font{ height:21px; line-height:21px; margin-top:5px; border:1px solid #e5e5e5; background:#f4f4f4; padding-left:8px; color:#404040; float:left;}
.xl_font ul{}
.xl_font ul li{ display:block; float:left; height:21px; line-height:21px; margin:0 3px; padding:0 5px;}
.xl_font ul li a{ color:#404040;}
.xl_font ul li a:hover{ color:#404040;}
.xl_font ul li.hover{ background:#c50a0a; display:inline; padding:0 5px;}
.xl_font ul li.hover a{ color:#FFF;}
.xl_font ul li.hover a:hover{ color:#FFF;}
.tz_font{ float:left; margin-left:10px; display:inline;}
.tz_font ul{}
.tz_font ul li{ float:left; cursor:pointer; display:block; height:21px; line-height:21px; padding:0 5px; margin-left:5px;}
.tz_font ul li a{ color:#404040;}
.tz_font ul li a:hover{ color:#404040;}
.tz_font ul li.hover{ background:#c50a0a; color:#FFF;}
.tz_font ul li.hover a{ color:#FFF;}
.tz_font ul li.hover a:hover{ color:#FFF;}

.zsxx{ width:1040px; margin:0 auto; margin-top:10px;}
.zsxx1{ margin-top:0px;}
.zsxx_bt{ height:29px; background:url(zsxx_bt.gif) repeat-x; position:relative; border:1px solid #d7d7d7; border-bottom:none;}
.zsxx_bt strong{ width:174px; height:30px; display:block; position:absolute; text-align:center; line-height:30px; left:0; top:-1px; color:#FFF; background:url(zsxx_bt_strong.gif) no-repeat; font-size:14px;}
.zsxx_left{ width:778px; float:left;}
.zsxx_pic{ width:776px; border:1px solid #d7d7d7; margin-top:10px; padding-bottom:6px;}
.zsxx_pic ul{}
.zsxx_pic ul li{ width:122px; height:108px; float:left; margin-left:6px; margin-top:6px; display:inline;}
.zsxx_pic ul li a{ width:120px; height:106px; border:1px solid #d7d7d7; display:block; color:#333333;}
.zsxx_pic ul li a:hover{ width:120px; height:106px; border:1px solid #F00; display:block; color:#F00; text-decoration:underline;}
.zsxx_pic ul li img{ display:block; width:110px; height:70px; padding:5px;}
.zsxx_pic ul li em{ display:block; width:110px; height:26px; line-height:26px; font-style:normal; text-align:center;}
.zsxx_tuwen{ width:778px; border-bottom:1px solid #dddddd; margin-top:10px; padding-bottom:10px;}
.zsxx_tu{ width:119px; height:89px; border:1px solid #afafaf; float:left; margin-left:10px; display:inline;}
.zsxx_tu img{ width:119px; height:89px;}
.zsxx_wen{ width:450px; float:left; margin-left:5px;}
.zsxx_wen h2{ font-size:16px; color:#2063B4; margin-top:2px; margin-bottom:5px;}
.zsxx_wen h2 a{ color:#2063B4;}
.zsxx_wen h2 a:hover{ color:#F00; text-decoration:underline;}
.zsxx_wen span{ color:#464646; line-height:22px; display:block;}
.zsxx_wen span a{ color:#2063B4;}
.zsxx_wen span a:hover{ color:#F00;}
.zsxx_rz{ float:right; margin-right:10px; padding-top:20px;}
.zsxx_rz strong{ display:block; height:20px; line-height:22px; width:130px; text-align:left; color:#666666; overflow:hidden;}
.zsxx_rz strong a{ color:#2063B4; font-weight:100;}
.zsxx_rz strong a:hover{ color:#F00;}
.zsxx_rz strong span{ color:#2063B4; font-weight:100;}
.wenti_list{ width:778px; height:710px; margin:0 auto; margin-top:8px; border-bottom:1px solid #dddddd;}
.wenti_bt{ width:778px; height:31px; overflow:hidden;}
.wenti_title{ width:778px; float:left; height:30px; line-height:30px;border-bottom: 2px solid #bc0000;}
.wenti_title a{ width:90px; height:29px; display:block; float:left; background:#efefef; text-align:center; border-left:1px solid #bc0000;border-top:1px solid #bc0000;border-right:1px solid #bc0000; color:#3d3d3d; display:inline;margin-right: 8px;}
.wenti_title a.zw{ background:url(wenti_dh_bg.gif) repeat-x; color:#FFF; font-weight:bold;}
.wenti_title a.last{ background:none;}

.wenti_zt{ height:680px; width:778px; overflow:hidden; font-size:12px; font-weight:100; line-height:32px;}
.wenti_zt .wenti_zt_tt{ font-size:12px; height:30px; line-height:30px; width:778px; background:#efefef;}
.wenti_zt .wenti_zt_tt .fl{ float:left; padding-left:20px;}
.wenti_zt .wenti_zt_tt .fr{ float:right; padding-right:30px;}
.wenti_zt ul.wenti_zt_list{ width:778px; height:auto;}
.wenti_zt ul.wenti_zt_list li{ border-bottom:1px dashed #ebebeb;height: 53px;padding-top: 10px;}
.wenti_zt ul.wenti_zt_list li .let{ width:87%; float:left; padding-left:5px;}
.wenti_zt ul.wenti_zt_list li .let h3{ line-height:24px; color:#2d64b3; font-size:14px; font-weight:normal;}
.wenti_zt ul.wenti_zt_list li .let p{ line-height:18px; color:#999999; font-size:12px;}
.wenti_zt ul.wenti_zt_list li .let p a{ color:#999999;}
.wenti_zt ul.wenti_zt_list li .let p a:hover{ color:#666666; text-decoration:underline;}
.wenti_zt ul.wenti_zt_list li .rig{ width:12%; float:right; text-align:center;}


.fenye{ text-align:center; margin:30px 0;}
.fenye a{ display:inline-block; height:20px; line-height:20px; border:1px solid #bebebe; padding:0 7px; text-align:center; color:#000;}
.fenye a:hover{ display:inline-block; height:20px; line-height:20px; border:1px solid #bebebe; padding:0 7px; text-align:center; color:#f00;}
.fenye span{ display:inline-block;}
.fenye strong{ display:inline-block; background:#ffebde; height:20px; line-height:20px; padding:0 8px; border:1px solid #ff6800; color:#ff6800;}
.fenye em{ display:inline-block;}

.zsxx_right{ width:252px; float:left; margin-left:10px; display:inline;}
.tuig{ width:250px; border:1px solid #d7d7d7; margin-top:10px;}
.tuig_bt{ height:32px; background:url(tuig_bt.gif) repeat-x; line-height:32px; border-bottom:1px dashed #d7d7d7;}
.tuig_bt strong{ font-size:14px; padding-left:8px;}
.tuig_nr{ padding-bottom:8px;}

.pinpai_nr{ padding:3px 0;}
.pinpai_nr ul{ width:230px; margin:0 auto;}
.pinpai_nr ul li{ width:230px; height:24px; line-height:24px; float:left; overflow:hidden;}
.pinpai_nr ul li em{ width:16px; height:13px; font-style:normal; line-height:13px; text-align:center; background:url(hui_k.gif) no-repeat; color:#000; display:block; float:left; margin-top:5px;}
.pinpai_nr ul li.qians em{ width:16px; height:13px; font-style:normal; line-height:13px; text-align:center; background:url(cheng_k.gif) no-repeat; color:#FFF; display:block; float:left; margin-top:5px;}
.pinpai_nr ul li a{ display:block; float:left; color:#333; margin-left:5px; display:inline;}
.pinpai_nr ul li a:hover{ color:#F00;}

.cywd_nr{}
.cywd_nr ul{ width:230px; margin:0 auto;}
.cywd_nr ul li{ width:230px; height:24px; line-height:24px; float:left; overflow:hidden;}
.cywd_nr ul li em{ display:block; float:left; width:16px; height:16px; background:url(wenhao.gif) no-repeat; margin-top:4px;}
.cywd_nr ul li a{color:#333333; height:24px; overflow:hidden; padding-left:2px;}
.cywd_nr ul li a:hover{ color:#FF0000;}
 
.fooder{ padding-top:25px; background:url(fod_top_bg.png) repeat-x 0 top; margin-top:8px;}
.fooder_nav{ width:1040px; margin:0 auto; text-align:center; color:#b6b4b4;}
.fooder_nav a{ color:#333333; margin:0 3px;}
.fooder_nav a:hover{ color:#F00;}
.fooder_nr{ width:1040px; margin:0 auto; line-height:24px; color:#666666; text-align:center; margin-top:13px;}
.fod_pic{ text-align:center; margin-top:8px;}